ConsumerApplication/Service References/refRatesWeb/ratesystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mycompany.com/rates" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mycompany.com/rates" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mycompany.com/rates/Imports">
      <xsd:import schemaLocation="http://localhost:8080/ratesystem?xsd=xsd0" namespace="http://mycompany.com/rates" />
      <xsd:import schemaLocation="http://localhost:8080/ratesystem?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/ratesystem?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebLibrary.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRateSys_Roles_InputMessage">
    <wsdl:part name="parameters" element="tns:Roles" />
  </wsdl:message>
  <wsdl:message name="IRateSys_Roles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RolesResponse" />
  </wsdl:message>
  <wsdl:message name="IRateSys_Rates_InputMessage">
    <wsdl:part name="parameters" element="tns:Rates" />
  </wsdl:message>
  <wsdl:message name="IRateSys_Rates_OutputMessage">
    <wsdl:part name="parameters" element="tns:RatesResponse" />
  </wsdl:message>
  <wsdl:message name="IRateSys_Employees_InputMessage">
    <wsdl:part name="parameters" element="tns:Employees" />
  </wsdl:message>
  <wsdl:message name="IRateSys_Employees_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddRate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRate" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRateResponse" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IRateSys_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRateSys">
    <wsdl:operation name="Roles">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/Roles" message="tns:IRateSys_Roles_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/RolesResponse" message="tns:IRateSys_Roles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rates">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/Rates" message="tns:IRateSys_Rates_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/RatesResponse" message="tns:IRateSys_Rates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Employees">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/Employees" message="tns:IRateSys_Employees_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/EmployeesResponse" message="tns:IRateSys_Employees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/AddEmployee" message="tns:IRateSys_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/AddEmployeeResponse" message="tns:IRateSys_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRate">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/AddRate" message="tns:IRateSys_AddRate_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/AddRateResponse" message="tns:IRateSys_AddRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://mycompany.com/rates/IRateSys/AddRole" message="tns:IRateSys_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://mycompany.com/rates/IRateSys/AddRoleResponse" message="tns:IRateSys_AddRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>