ConsumerApplication/Service References/RateSystemRef/ratesystem1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mycompany.com/rates" elementFormDefault="qualified" targetNamespace="http://mycompany.com/rates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ratesystem?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebLibrary.Entities" />
  <xs:element name="Roles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebLibrary.Entities" minOccurs="0" name="RolesResult" nillable="true" type="q1:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>